<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxc.test.platform.infra.mapper.xytest.DiffResultMapper">

    <resultMap id="resultMap" type="com.cxc.test.platform.infra.domain.diff.DiffResultPO">
        <id column="batch_id" property="batchId"/>
        <id column="is_success" property="isSuccess"/>
        <id column="is_equal" property="isEqual"/>
        <id column="error_message" property="errorMessage"/>
        <id column="trigger_url" property="triggerUrl"/>
        <id column="total_count" property="totalCount"/>
        <id column="failed_count" property="failedCount"/>
        <id column="created_time" property="createdTime"/>
        <id column="modified_time" property="modifiedTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.cxc.test.platform.infra.domain.diff.DiffResultPO">
        insert into t_migration_check_diff_result
        (batch_id, is_success, is_equal, error_message, trigger_url, total_count, failed_count, created_time, modified_time)
        values
        (#{batchId}, #{isSuccess}, #{isEqual}, #{errorMessage}, #{triggerUrl}, #{totalCount}, #{failedCount}, now(), now())
    </insert>

</mapper>