<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxc.test.platform.infra.mapper.xytest.MappingRuleMapper">

    <resultMap id="resultMap" type="com.cxc.test.platform.infra.domain.migrationcheck.MappingRulePO">
        <id column="id" property="id"/>
        <id column="config_id" property="configId"/>
        <id column="source_table_name" property="sourceTableName"/>
        <id column="source_field_names" property="sourceFieldNames"/>
        <id column="is_primary_key" property="isPrimaryKey"/>
        <id column="target_table_name" property="targetTableName"/>
        <id column="target_field_name" property="targetFieldName"/>
        <id column="field_check_method_name" property="fieldCheckMethodName"/>
        <id column="field_check_method_args" property="fieldCheckMethodArgs"/>
        <id column="created_time" property="createdTime"/>
        <id column="modified_time" property="modifiedTime"/>
    </resultMap>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into t_migration_mapping_rule
        (config_id, source_table_name, source_field_names, is_primary_key, target_table_name, target_field_name,
        field_check_method_name, field_check_method_args, created_time, modified_time)
        values
        <foreach collection="list" item="mappingRulePO" separator=",">
            (#{mappingRulePO.configId}, #{mappingRulePO.sourceTableName}, #{mappingRulePO.sourceFieldNames},
            #{mappingRulePO.isPrimaryKey}, #{mappingRulePO.targetTableName}, #{mappingRulePO.targetFieldName},
            #{mappingRulePO.fieldCheckMethodName}, #{mappingRulePO.fieldCheckMethodArgs}, now(), now())
        </foreach>
    </insert>

    <select id="getByConfigId" resultMap="resultMap">
        select * from t_migration_mapping_rule where config_id = #{configId}
    </select>

    <select id="getById" resultType="com.cxc.test.platform.infra.domain.migrationcheck.MappingRulePO">
        select * from t_migration_mapping_rule where id = #{id}
    </select>

    <update id="update" parameterType="com.cxc.test.platform.infra.domain.migrationcheck.MappingRulePO">
        update t_migration_mapping_rule set
        <if test="sourceTableName != null and sourceTableName != ''">
            `source_table_name` = #{sourceTableName},
        </if>
        <if test="sourceFieldNames != null and sourceFieldNames != ''">
            `source_field_names` = #{sourceFieldNames},
        </if>
        <if test="isPrimaryKey != null and isPrimaryKey != ''">
            `is_primary_key` = #{isPrimaryKey},
        </if>
        <if test="targetTableName != null and targetTableName != ''">
            `target_table_name` = #{targetTableName},
        </if>
        <if test="targetFieldName != null and targetFieldName != ''">
            `target_field_name` = #{targetFieldName},
        </if>
        <if test="fieldCheckMethodName != null and fieldCheckMethodName != ''">
            `field_check_method_name` = #{fieldCheckMethodName},
        </if>
        <if test="fieldCheckMethodArgs != null and fieldCheckMethodArgs != ''">
            `field_check_method_args` = #{fieldCheckMethodArgs},
        </if>
        `modified_time` = now()
        where id = #{id}
    </update>

    <delete id="delete">
        delete from t_migration_mapping_rule where id = #{id}
    </delete>

</mapper>