<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试效能平台</title>
    <!-- 引入sdk的css文件 -->
    <link rel="stylesheet" href="/sdk/sdk.css">
    <link rel="stylesheet" href="/sdk/helper.css">
    <link rel="stylesheet" href="/sdk/iconfont.css">
    <!-- antd主题 -->
    <link rel="stylesheet" href="/sdk/antd.css">
    <!-- 引入sdk.js -->
    <script src="/sdk/sdk.js"></script>
    <!-- 页面的样式 -->
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<!-- 渲染的容器 -->
<div id="root" class="app-wrapper"></div>
<!-- 页面的内容 -->
<script type="text/javascript">
        (function () {
            // 初始化
            let amis = amisRequire('amis/embed');
            // 通过替换下面这个配置来生成不同页面
            let amisJSON = {
  "type": "page",
  "body": [
    {
      "type": "wizard",
      "api": "/amis/api/mock2/form/saveForm?waitSeconds=2",
      "initApi": "/amis/api/mock2/form/initData?waitSeconds=2",
      "steps": [
        {
          "title": "Step 1",
          "body": [
            {
              "type": "panel",
              "title": "源数据库链接信息",
              "body": [
                {
                  "name": "sourceDriverClassName",
                  "label": "driverClassName",
                  "type": "input-text",
                  "required": true,
                  "id": "u:9d6c91eaceab",
                  "showCounter": false,
                  "validations": {
                  },
                  "validationErrors": {
                  },
                  "value": "com.mysql.cj.jdbc.Driver",
                  "readOnly": true
                },
                {
                  "name": "sourceDbUrl",
                  "label": "URL",
                  "type": "input-text",
                  "required": true,
                  "id": "u:5f94937a07cd",
                  "value": "",
                  "placeholder": "例如jdbc:mysql://mysql-0.mysql.bbmallun-middleware.svc.cluster.local:3306/oneid_test"
                },
                {
                  "name": "sourceDbName",
                  "label": "用户名称",
                  "type": "input-text",
                  "required": true,
                  "id": "u:5f94937a07cd",
                  "value": ""
                },
                {
                  "name": "sourceDbPassword",
                  "label": "密码",
                  "type": "input-password",
                  "required": true,
                  "id": "u:5f94937a07cd",
                  "value": "",
                  "showCounter": false,
                  "validations": {
                  },
                  "validationErrors": {
                  }
                }
              ],
              "id": "u:6e4c52b492b9",
              "affixFooter": false
            },
            {
              "type": "divider",
              "id": "u:a54a434dddda"
            },
            {
              "type": "panel",
              "title": "目标数据库链接信息",
              "body": [
                {
                  "name": "targetDriverClassName",
                  "label": "driverClassName",
                  "type": "input-text",
                  "required": true,
                  "showCounter": false,
                  "validations": {
                  },
                  "validationErrors": {
                  },
                  "value": "com.mysql.cj.jdbc.Driver",
                  "readOnly": true,
                  "id": "u:f84bea7b88cc"
                },
                {
                  "name": "targetDbUrl",
                  "label": "URL",
                  "type": "input-text",
                  "required": true,
                  "id": "u:5f94937a07cd",
                  "value": "",
                  "placeholder": "例如jdbc:mysql://mysql-0.mysql.bbmallun-middleware.svc.cluster.local:3306/oneid_test"
                },
                {
                  "name": "targetDbName",
                  "label": "用户名称",
                  "type": "input-text",
                  "required": true,
                  "id": "u:5f94937a07cd",
                  "value": ""
                },
                {
                  "name": "targetDbPassword",
                  "label": "密码",
                  "type": "input-password",
                  "required": true,
                  "id": "u:5f94937a07cd",
                  "value": "",
                  "showCounter": false,
                  "validations": {
                  },
                  "validationErrors": {
                  }
                }
              ],
              "id": "u:6e4c52b492b9",
              "affixFooter": false
            }
          ],
          "id": "u:4a943559b2f2",
          "mode": "normal"
        },
        {
          "title": "Step 2",
          "body": [
            {
              "type": "panel",
              "title": "字段映射关系",
              "body": [
                {
                  "type": "input-excel",
                  "name": "excel",
                  "label": "上传 Excel",
                  "id": "u:82175b6cc4c6"
                },
                {
                  "type": "input-table",
                  "name": "excel",
                  "visibleOn": "data.excel",
                  "columns": [
                    {
                      "name": "原表表名",
                      "label": "原表表名",
                      "type": "input-text",
                      "id": "u:2d964faf62f9"
                    },
                    {
                      "name": "原表字段名",
                      "label": "原表字段名",
                      "type": "input-text",
                      "id": "u:2b42f534bd20"
                    },
                    {
                      "name": "是否是主键",
                      "label": "是否是主键",
                      "type": "input-text",
                      "id": "u:2b42f534bd20"
                    },
                    {
                      "name": "目标表表名",
                      "label": "目标表表名",
                      "type": "input-text",
                      "id": "u:2b42f534bd20"
                    },
                    {
                      "name": "目标表字段名",
                      "label": "目标表字段名",
                      "type": "input-text",
                      "id": "u:2b42f534bd20"
                    },
                    {
                      "name": "自定义处理逻辑",
                      "label": "自定义处理逻辑",
                      "type": "input-text",
                      "id": "u:2b42f534bd20"
                    },
                    {
                      "name": "自定义处理逻辑入参",
                      "label": "自定义处理逻辑入参",
                      "type": "input-text",
                      "id": "u:2b42f534bd20"
                    }
                  ],
                  "id": "u:d889b4fc9022"
                }
              ],
              "id": "u:279a3eeac51e"
            }
          ],
          "mode": "normal",
          "id": "u:182ee2188877"
        },
        {
          "title": "Step 3",
          "body": [
            {
              "type": "panel",
              "title": "目标表中原表主键id定位",
              "body": [
                {
                  "draggable": true,
                  "multiple": true,
                  "multiLine": true,
                  "type": "input-kvs",
                  "name": "targetDataKvs",
                  "keyItem": {
                    "label": "目标表名"
                  },
                  "valueItems": [
                    {
                      "type": "input-text",
                      "name": "targetLocateField",
                      "label": "sourceId承载字段"
                    },
                    {
                      "type": "input-text",
                      "name": "targetLocateMethod",
                      "label": "定位source表主键id的逻辑"
                    },
                    {
                      "type": "input-text",
                      "name": "targetLocateMethodArgs",
                      "label": "定位source表主键id的逻辑参数"
                    }
                  ],
                  "id": "u:d814c5c22daf",
                  "items": [
                    {
                      "type": "input-text",
                      "unique": true,
                      "name": "_key",
                      "required": true,
                      "validateOnChange": true,
                      "label": "目标表名"
                    },
                    {
                      "type": "input-text",
                      "name": "targetLocateField",
                      "label": "sourceId承载字段"
                    },
                    {
                      "type": "input-text",
                      "name": "targetLocateMethod",
                      "label": "定位source表主键id的逻辑"
                    },
                    {
                      "type": "input-text",
                      "name": "targetLocateMethodArgs",
                      "label": "定位source表主键id的逻辑参数"
                    }
                  ]
                }
              ],
              "id": "u:5758819d0edd"
            }
          ],
          "mode": "normal",
          "id": "u:1a36b75a1cda"
        },
        {
          "title": "Step 4",
          "body": [
            {
              "type": "panel",
              "title": "源数据自定义初始化(Optional)",
              "body": [
                {
                  "draggable": true,
                  "multiple": true,
                  "multiLine": true,
                  "type": "input-kvs",
                  "name": "sourceDataKvs",
                  "keyItem": {
                    "label": "原表名"
                  },
                  "valueItems": [
                    {
                      "type": "input-text",
                      "name": "sourceDataSql",
                      "label": "自定义初始化sql"
                    }
                  ],
                  "id": "u:bcad03a8a83e",
                  "items": [
                    {
                      "type": "input-text",
                      "unique": true,
                      "name": "_key",
                      "required": true,
                      "validateOnChange": true,
                      "label": "原表名"
                    },
                    {
                      "type": "input-text",
                      "name": "sourceDataSql",
                      "label": "自定义初始化sql"
                    }
                  ]
                }
              ],
              "id": "u:686763fa564c"
            }
          ],
          "mode": "normal",
          "id": "u:39d3ce6328c0"
        }
      ],
      "id": "u:add7e767eede",
      "mode": "horizontal"
    }
  ],
  "id": "u:c4ca0c3abcfc",
  "title": "数据迁移验证配置",
  "aside": [
    {
      "type": "nav",
      "stacked": true,
      "links": [
        {
          "label": "首页",
          "to": "/index"
        },
        {
          "label": "仪表盘",
          "unfolded": false,
          "children": [
            {
              "label": "自动化数据大盘",
              "to": "/docs/api-2-1"
            },
            {
              "label": "测试效能大盘",
              "to": "/docs/api-2-2"
            },
            {
              "label": "成本优化大盘",
              "to": "/docs/api-2-3"
            }
          ]
        },
        {
          "label": "开放工具中心",
          "unfolded": false,
          "children": [
            {
              "label": "工具管理",
              "to": "/docs/api-3-1"
            },
            {
              "label": "工具调用",
              "to": "/docs/api-3-2"
            }
          ]
        },
        {
          "label": "数据迁移验证工具",
          "unfolded": false,
          "children": [
            {
              "label": "配置录入",
              "to": "/docs/api-4-1"
            },
            {
              "label": "开始验证",
              "to": "/docs/api-4-2"
            }
          ]
        },
        {
          "label": "测试云机房",
          "to": "http://www.baidu.com/",
          "target": "_blank"
        }
      ],
      "className": "w-md",
      "id": "u:46bce8f505a1"
    }
  ],
  "toolbar": [
    {
      "type": "tpl",
      "tpl": "你好，",
      "inline": true,
      "wrapperComponent": "",
      "id": "u:72639ae11673"
    },
    {
      "type": "avatar",
      "text": "小辰",
      "src": "$other",
      "icon": "fa fa-user",
      "id": "u:f81392144086"
    }
  ]
};
            // 开始渲染，放入渲染容器#root，渲染的页面内容是amisJSON
            let amisScoped = amis.embed(
                '#root',
                amisJSON,
                {
                    // 这里是初始 props
                },
                {
                    theme: 'antd'
                }
            );
        })();
    </script>
</body>

</html>
