<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试效能平台</title>
    <!-- 引入sdk的css文件 -->
    <link rel="stylesheet" href="/sdk/sdk.css">
    <link rel="stylesheet" href="/sdk/helper.css">
    <link rel="stylesheet" href="/sdk/iconfont.css">
    <!-- antd主题 -->
    <link rel="stylesheet" href="/sdk/antd.css">
    <!-- 引入sdk.js -->
    <script src="/sdk/sdk.js"></script>
    <!-- 页面的样式 -->
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<!-- 渲染的容器 -->
<div id="root" class="app-wrapper"></div>
<!-- 页面的内容 -->
<script type="text/javascript">
        (function () {
            // 初始化
            let amis = amisRequire('amis/embed');
            // 通过替换下面这个配置来生成不同页面
            let amisJSON = {
                  "type": "page",
                  "id": "u:2b93a1887781",
                  "initApi": "/get_menu",
                  "body": [
                    {
                      "type": "flex",
                      "className": "p-1",
                      "items": [
                        {
                          "type": "container",
                          "body": [
                            {
                              "type": "flex",
                              "id": "u:5448a684939",
                              "items": [
                                {
                                  "type": "image",
                                  "id": "u:54892a625bc4",
                                  "src": "/svg/qa.svg",
                                  "width": 50,
                                  "height": 50,
                                  "thumbMode": "contain",
                                  "showDimensions": false,
                                  "innerClassName": "no-border no-bg",
                                  "className": "no-border no-bg",
                                  "imageClassName": "no-border no-bg",
                                  "thumbClassName": "no-border no-bg"
                                }
                              ],
                              "style": {
                                "position": "static",
                                "flexWrap": "nowrap",
                                "overflowY": "auto"
                              },
                              "direction": "row",
                              "isFixedHeight": false,
                              "isFixedWidth": false,
                              "justify": "center",
                              "alignItems": "flex-start"
                            },
                            {
                              "type": "nav",
                              "stacked": true,
                              "source": "${nav}",
                              "id": "u:b057407f2664",
                              "itemBadge": {
                                "mode": "ribbon",
                                "text": "${customText}",
                                "position": "top-right",
                                "visibleOn": "this.customText",
                                "level": "${customLevel}"
                              }
                            }
                          ],
                          "size": "xs",
                          "style": {
                            "position": "static",
                            "display": "block",
                            "flex": "0 0 200px",
                            "flexBasis": "200px",
                            "overflowX": "auto",
                            "fontFamily": "",
                            "fontSize": 16,
                            "textAlign": "left"
                          },
                          "wrapperBody": false,
                          "isFixedHeight": false,
                          "isFixedWidth": false,
                          "id": "u:04792b608d52",
                          "wrapperComponent": "aside",
                          "bodyClassName": "bg-light text-muted b-light"
                        },
                        {
                          "type": "container",
                          "body": [
                            {
                              "type": "tpl",
                              "id": "u:0113ac9a5359",
                              "tpl": "配置录入",
                              "inline": true,
                              "wrapperComponent": "",
                              "style": {
                                "fontFamily": "",
                                "fontSize": 25
                              }
                            },
                            {
                              "type": "divider",
                              "id": "u:9e26253a40dd"
                            },
                            {
                              "type": "wizard",
                              "api": "/migrationcheck/add_config",
                              "steps": [
                                {
                                  "title": "Step 1",
                                  "body": [
                                    {
                                      "type": "panel",
                                      "title": "源数据库链接信息",
                                      "body": [
                                        {
                                          "name": "sourceDriverClassName",
                                          "label": "driverClassName",
                                          "type": "input-text",
                                          "required": true,
                                          "id": "u:9d6c91eaceab",
                                          "showCounter": false,
                                          "validations": {
                                          },
                                          "validationErrors": {
                                          },
                                          "value": "com.mysql.cj.jdbc.Driver",
                                          "readOnly": true,
                                          "disabled": true
                                        },
                                        {
                                          "name": "sourceDbUrl",
                                          "label": "URL",
                                          "type": "input-text",
                                          "required": true,
                                          "id": "u:5f94937a07cd",
                                          "value": "",
                                          "placeholder": "例如jdbc:mysql://mysql-0.mysql.bbmallun-middleware.svc.cluster.local:3306/oneid_test"
                                        },
                                        {
                                          "name": "sourceUserName",
                                          "label": "用户名",
                                          "type": "input-text",
                                          "required": true,
                                          "id": "u:5f94937a07cd",
                                          "value": ""
                                        },
                                        {
                                          "name": "sourcePassword",
                                          "label": "密码",
                                          "type": "input-password",
                                          "required": true,
                                          "id": "u:5f94937a07cd",
                                          "value": "",
                                          "showCounter": false,
                                          "validations": {
                                          },
                                          "validationErrors": {
                                          }
                                        }
                                      ],
                                      "id": "u:6e4c52b492b9",
                                      "affixFooter": false
                                    },
                                    {
                                      "type": "divider",
                                      "id": "u:a54a434dddda"
                                    },
                                    {
                                      "type": "panel",
                                      "title": "目标数据库链接信息",
                                      "body": [
                                        {
                                          "name": "targetDriverClassName",
                                          "label": "driverClassName",
                                          "type": "input-text",
                                          "required": true,
                                          "showCounter": false,
                                          "validations": {
                                          },
                                          "validationErrors": {
                                          },
                                          "value": "com.mysql.cj.jdbc.Driver",
                                          "readOnly": true,
                                          "id": "u:f84bea7b88cc",
                                          "disabled": true
                                        },
                                        {
                                          "name": "targetDbUrl",
                                          "label": "URL",
                                          "type": "input-text",
                                          "required": true,
                                          "id": "u:5f94937a07cd",
                                          "value": "",
                                          "placeholder": "例如jdbc:mysql://mysql-0.mysql.bbmallun-middleware.svc.cluster.local:3306/oneid_test"
                                        },
                                        {
                                          "name": "targetUserName",
                                          "label": "用户名",
                                          "type": "input-text",
                                          "required": true,
                                          "id": "u:5f94937a07cd",
                                          "value": ""
                                        },
                                        {
                                          "name": "targetPassword",
                                          "label": "密码",
                                          "type": "input-password",
                                          "required": true,
                                          "id": "u:5f94937a07cd",
                                          "value": "",
                                          "showCounter": false,
                                          "validations": {
                                          },
                                          "validationErrors": {
                                          }
                                        }
                                      ],
                                      "id": "u:6e4c52b492b9",
                                      "affixFooter": false
                                    }
                                  ],
                                  "id": "u:4a943559b2f2",
                                  "mode": "normal"
                                },
                                {
                                  "title": "Step 2",
                                  "body": [
                                    {
                                      "type": "panel",
                                      "title": "字段映射关系",
                                      "body": [
                                        {
                                          "type": "input-excel",
                                          "name": "excel",
                                          "label": "上传 Excel",
                                          "id": "u:82175b6cc4c6",
                                          "labelRemark": {
                                            "icon": "fa fa-question-circle",
                                            "trigger": [
                                              "hover"
                                            ],
                                            "className": "Remark--warning",
                                            "placement": "right",
                                            "title": "模板字段",
                                            "content": "原表表名，原表字段名，是否是主键(true/false)，目标表表名，目标表字段名，自定义处理逻辑，自定义处理逻辑入参"
                                          },
                                          "placeholder": "",
                                          "remark": "",
                                          "required": true
                                        },
                                        {
                                          "type": "input-table",
                                          "name": "excel",
                                          "visibleOn": "data.excel",
                                          "columns": [
                                            {
                                              "name": "原表表名",
                                              "label": "原表表名",
                                              "type": "input-text",
                                              "id": "u:2d964faf62f9"
                                            },
                                            {
                                              "name": "原表字段名",
                                              "label": "原表字段名",
                                              "type": "input-text",
                                              "id": "u:2b42f534bd20"
                                            },
                                            {
                                              "name": "是否是主键",
                                              "label": "是否是主键",
                                              "type": "input-text",
                                              "id": "u:2b42f534bd20"
                                            },
                                            {
                                              "name": "目标表表名",
                                              "label": "目标表表名",
                                              "type": "input-text",
                                              "id": "u:2b42f534bd20"
                                            },
                                            {
                                              "name": "目标表字段名",
                                              "label": "目标表字段名",
                                              "type": "input-text",
                                              "id": "u:2b42f534bd20"
                                            },
                                            {
                                              "name": "自定义处理逻辑",
                                              "label": "自定义处理逻辑",
                                              "type": "input-text",
                                              "id": "u:2b42f534bd20"
                                            },
                                            {
                                              "name": "自定义处理逻辑入参",
                                              "label": "自定义处理逻辑入参",
                                              "type": "input-text",
                                              "id": "u:2b42f534bd20"
                                            }
                                          ],
                                          "id": "u:d889b4fc9022"
                                        }
                                      ],
                                      "id": "u:279a3eeac51e",
                                      "affixFooter": false,
                                      "hidden": false
                                    }
                                  ],
                                  "mode": "normal",
                                  "id": "u:182ee2188877"
                                },
                                {
                                  "title": "Step 3",
                                  "body": [
                                    {
                                      "type": "panel",
                                      "title": "目标表中源数据定位",
                                      "body": [
                                        {
                                          "type": "combo",
                                          "name": "locatorCombo",
                                          "label": "源数据定位",
                                          "multiple": true,
                                          "items": [
                                            {
                                              "type": "tpl",
                                              "tpl": "<%= this.index + 1%>",
                                              "className": "p-t-xs",
                                              "mode": "inline"
                                            },
                                            {
                                              "name": "targetTableName",
                                              "label": "目标表名",
                                              "type": "input-text",
                                              "required": true,
                                              "unique": true
                                            },
                                            {
                                              "name": "targetLocateField",
                                              "label": "sourceId承载字段",
                                              "type": "input-text",
                                              "required": true
                                            },
                                            {
                                              "name": "targetLocateMethod",
                                              "label": "定位source表主键id的逻辑",
                                              "type": "input-text"
                                            },
                                            {
                                              "name": "targetLocateMethodArgs",
                                              "label": "定位source表主键id的逻辑参数",
                                              "type": "input-text"
                                            }
                                          ],
                                          "id": "u:836572dbde62",
                                          "labelRemark": {
                                            "icon": "fa fa-question-circle",
                                            "trigger": [
                                              "hover"
                                            ],
                                            "className": "Remark--warning",
                                            "placement": "right",
                                            "content": "在目标表数以万计的数据中，需要唯一定位源表的数据，才能进行进一步的对比。建议：在目标表中记录源表的主键id（可以是主键id，也可以是例如订单号、商品id等唯一性字段），通过源表主键id来唯一定位两边的数据。",
                                            "title": "源数据定位是什么"
                                          },
                                          "multiLine": true,
                                          "required": true
                                        }
                                      ],
                                      "id": "u:5758819d0edd",
                                      "affixFooter": false
                                    }
                                  ],
                                  "mode": "normal",
                                  "id": "u:1a36b75a1cda"
                                },
                                {
                                  "title": "Step 4",
                                  "body": [
                                    {
                                      "type": "panel",
                                      "title": "源数据自定义初始化(Optional)",
                                      "body": [
                                        {
                                          "type": "combo",
                                          "name": "initSqlCombo",
                                          "label": "源数据自定义初始化Sql",
                                          "multiple": true,
                                          "items": [
                                            {
                                              "type": "tpl",
                                              "tpl": "<%= this.index + 1%>",
                                              "className": "p-t-xs",
                                              "mode": "inline"
                                            },
                                            {
                                              "name": "sourceTableName",
                                              "label": "源表名",
                                              "type": "input-text",
                                              "required": true,
                                              "unique": true
                                            },
                                            {
                                              "name": "sourceDataSql",
                                              "label": "自定义初始化sql",
                                              "type": "input-text",
                                              "required": true
                                            }
                                          ],
                                          "id": "u:836572dbde62",
                                          "labelRemark": {
                                            "icon": "fa fa-question-circle",
                                            "trigger": [
                                              "hover"
                                            ],
                                            "className": "Remark--warning",
                                            "placement": "right",
                                            "content": "可自行定义源数据查询sql。若未自定义，则使用默认的select * from tablexxx 进行全字段查询",
                                            "title": "源数据的数据初始化sql"
                                          },
                                          "multiLine": true
                                        }
                                      ],
                                      "id": "u:686763fa564c"
                                    }
                                  ],
                                  "mode": "normal",
                                  "id": "u:39d3ce6328c0"
                                }
                              ],
                              "id": "u:add7e767eede",
                              "mode": "horizontal"
                            }
                          ],
                          "size": "xs",
                          "style": {
                            "position": "static",
                            "display": "block",
                            "flex": "1 1 auto",
                            "flexGrow": 1,
                            "flexBasis": "auto"
                          },
                          "wrapperBody": false,
                          "isFixedHeight": false,
                          "isFixedWidth": false,
                          "id": "u:4a30e3ab29f8"
                        }
                      ],
                      "style": {
                        "position": "static"
                      },
                      "direction": "row",
                      "justify": "flex-start",
                      "alignItems": "stretch",
                      "id": "u:e99611baa91f"
                    }
                  ],
                  "pullRefresh": {
                    "disabled": true
                  },
                  "style": {
                    "backgroundImage": "/image/bg.jpg",
                    "backgroundSize": "100%"
                  },
                  "regions": [
                    "body"
                  ]
                };


            // 开始渲染，放入渲染容器#root，渲染的页面内容是amisJSON
            let amisScoped = amis.embed(
                '#root',
                amisJSON,
                {
                    // 这里是初始 props
                },
                {
                    theme: 'antd'
                }
            );
        })();
    </script>
</body>

</html>
