<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试效能平台</title>
    <!-- 引入sdk的css文件 -->
    <link rel="stylesheet" href="/sdk/sdk.css">
    <link rel="stylesheet" href="/sdk/helper.css">
    <link rel="stylesheet" href="/sdk/iconfont.css">
    <!-- antd主题 -->
    <link rel="stylesheet" href="/sdk/antd.css">
    <!-- 引入sdk.js -->
    <script src="/sdk/sdk.js"></script>
    <!-- 页面的样式 -->
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<!-- 渲染的容器 -->
<div id="root" class="app-wrapper"></div>
<!-- 页面的内容 -->
<script type="text/javascript">
        (function () {
            // 初始化
            let amis = amisRequire('amis/embed');
            // 通过替换下面这个配置来生成不同页面
            let amisJSON = {
                  "type": "page",
                  "body": [
                    {
                      "type": "tabs",
                      "tabsMode": "strong",
                      "tabs": [
                        {
                          "title": "源数据库链接信息",
                          "body": [
                            {
                              "type": "tpl",
                              "tpl": "选项卡内容1",
                              "inline": false,
                              "id": "u:31665284b35d"
                            }
                          ],
                          "id": "u:b523ba08103b"
                        },
                        {
                          "title": "字段映射关系",
                          "body": [
                            {
                              "type": "crud",
                              "name": "mappingRuleCrud",
                              "api": {
                                "method": "get",
                                "url": "/migrationcheck/get_mapping_rule_config?configId=${configId}",
                                "data": {
                                    "sourceTableNameSearch": "${sourceTableNameSearch | default:undefined}",
                                    "targetTableNameSearch": "${targetTableNameSearch | default:undefined}"
                                }
                              },
                              "loadDataOnce": true,
                              "syncLocation": false,
                              "filter": {
                                "debug": false,
                                "title": "条件搜索",
                                "body": [
                                  {
                                    "type": "group",
                                    "body": [
                                      {
                                        "type": "input-text",
                                        "name": "sourceTableNameSearch",
                                        "label": "原表表名",
                                        "clearable": true,
                                        "size": "md",
                                        "id": "u:bdbc1cbbcb6c"
                                      },
                                      {
                                        "type": "input-text",
                                        "name": "targetTableNameSearch",
                                        "label": "目标表表名",
                                        "clearable": true,
                                        "size": "md",
                                        "id": "u:bdbc1cbbcb6c"
                                      }
                                    ],
                                    "id": "u:edbf77d9c5d8"
                                  }
                                ],
                                "actions": [
                                  {
                                    "type": "reset",
                                    "label": "重置",
                                    "id": "u:67e8ccf7a7f0"
                                  },
                                  {
                                    "type": "submit",
                                    "level": "primary",
                                    "label": "查询",
                                    "id": "u:ef895ce62e1d"
                                  }
                                ],
                                "id": "u:a00bd4fb9858"
                              },
                              "columns": [
                                {
                                  "name": "id",
                                  "label": "ID",
                                  "id": "u:97e6ae8cc007"
                                },
                                {
                                  "name": "sourceTableName",
                                  "label": "原表表名",
                                  "id": "u:97e6ae8cc007"
                                },
                                {
                                  "name": "sourceFieldNames",
                                  "label": "原表字段名(s)",
                                  "id": "u:92fdad445603"
                                },
                                {
                                  "name": "isPrimaryKey",
                                  "label": "是否是主键",
                                  "id": "u:3a9c584a5cc3"
                                },
                                {
                                  "name": "targetTableName",
                                  "label": "目标表表名",
                                  "id": "u:e2b9df648687"
                                },
                                {
                                  "name": "targetFieldName",
                                  "label": "目标表字段名",
                                  "id": "u:86cbcf96da7c"
                                },
                                {
                                  "name": "fieldCheckMethodName",
                                  "label": "自定义处理逻辑",
                                  "id": "u:1dadd1276db4"
                                },
                                {
                                  "label": "自定义处理逻辑入参",
                                  "id": "u:1dadd1276db4",
                                  "name": "fieldCheckMethodArgs"
                                },
                                {
                                  "type": "button-toolbar",
                                  "label": "操作",
                                  "buttons": [
                                    {
                                      "label": "修改",
                                      "type": "button",
                                      "actionType": "drawer",
                                      "drawer": {
                                        "title": "编辑字段映射关系",
                                        "size": "lg",
                                        "body": {
                                          "type": "form",
                                          "api": "post:/migrationcheck/update_mapping_rule?id=${id}",
                                          "body": [
                                            {
                                              "type": "input-text",
                                              "name": "sourceTableName",
                                              "label": "原表表名"
                                            },
                                            {
                                              "type": "input-text",
                                              "name": "sourceFieldNames",
                                              "label": "原表字段名(s)"
                                            },
                                            {
                                              "type": "input-text",
                                              "name": "isPrimaryKey",
                                              "label": "是否是主键"
                                            },
                                            {
                                              "type": "input-text",
                                              "name": "targetTableName",
                                              "label": "目标表表名"
                                            },
                                            {
                                              "type": "input-text",
                                              "name": "targetFieldName",
                                              "label": "目标表字段名"
                                            },
                                            {
                                              "type": "input-text",
                                              "name": "fieldCheckMethodName",
                                              "label": "自定义处理逻辑"
                                            },
                                            {
                                              "type": "input-text",
                                              "name": "fieldCheckMethodArgs",
                                              "label": "自定义处理逻辑入参"
                                            }
                                          ]
                                        }
                                      },
                                      "id": "u:46e308e46b4c"
                                    },
                                    {
                                      "label": "删除",
                                      "type": "button",
                                      "actionType": "ajax",
                                      "level": "danger",
                                      "confirmText": "确认要删除？",
                                      "api": "/migrationcheck/delete_mapping_rule?id=${id}",
                                      "id": "u:1fd57e4b4497"
                                    }
                                  ],
                                  "id": "u:0bdd3201ab9f"
                                }
                              ],
                              "id": "u:28024f3e550b"
                            }
                          ],
                          "id": "u:077145d8de4c"
                        },
                        {
                          "title": "目标表中源数据定位",
                          "body": [
                            {
                              "type": "tpl",
                              "tpl": "选项卡内容3",
                              "inline": false,
                              "id": "u:f5dbcbeb660b"
                            }
                          ],
                          "id": "u:18e93972399e"
                        },
                        {
                          "title": "源数据初始化",
                          "body": [
                            {
                              "type": "tpl",
                              "tpl": "选项卡内容3",
                              "inline": false
                            }
                          ]
                        }
                      ],
                      "id": "u:dd788efa5149",
                      "mountOnEnter": false,
                      "unmountOnExit": false
                    }
                  ],
                  "id": "u:2b93a1887781",
                  "asideResizor": false,
                  "pullRefresh": {
                    "disabled": true
                  },
                  "style": {
                    "fontFamily": "",
                    "fontSize": 12
                  },
                  "aside": [
                  ],
                  "toolbar": [
                    {
                      "type": "tpl",
                      "tpl": "数据迁移配置管理",
                      "inline": true,
                      "wrapperComponent": "h1",
                      "id": "u:0d005e69aaec"
                    }
                  ]
                };


            // 开始渲染，放入渲染容器#root，渲染的页面内容是amisJSON
            let amisScoped = amis.embed(
                '#root',
                amisJSON,
                {
                    // 这里是初始 props
                },
                {
                    theme: 'antd'
                }
            );
        })();
    </script>
</body>

</html>
