<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxc.test.platform.infra.mapper.master.DiffResultMapper">

    <resultMap id="resultMap" type="com.cxc.test.platform.infra.domain.diff.DiffResultPO">
        <id column="id" property="id"/>
        <id column="batch_id" property="batchId"/>
        <id column="config_id" property="configId"/>
        <id column="is_success" property="isSuccess"/>
        <id column="is_equal" property="isEqual"/>
        <id column="status" property="status"/>
        <id column="progress" property="progress"/>
        <id column="runner" property="runner"/>
        <id column="error_message" property="errorMessage"/>
        <id column="trigger_url" property="triggerUrl"/>
        <id column="total_count" property="totalCount"/>
        <id column="failed_count" property="failedCount"/>
        <id column="features" property="features"/>
        <id column="created_time" property="createdTime"/>
        <id column="modified_time" property="modifiedTime"/>
    </resultMap>

    <insert id="insert" parameterType="com.cxc.test.platform.infra.domain.diff.DiffResultPO">
        insert into t_compare_diff_result
        (batch_id, config_id, is_success, is_equal, status, progress, runner, error_message, trigger_url, total_count, failed_count, features, created_time, modified_time)
        values
        (#{batchId}, #{configId}, #{isSuccess}, #{isEqual}, #{status}, #{progress}, #{runner}, #{errorMessage}, #{triggerUrl}, #{totalCount}, #{failedCount}, #{features}, now(), now())
    </insert>

    <update id="update" parameterType="com.cxc.test.platform.infra.domain.diff.DiffResultPO">
        update t_compare_diff_result set
        <if test="isSuccess != null and isSuccess != ''">
            `is_success` = #{isSuccess},
        </if>
        <if test="isEqual != null and isEqual != ''">
            `is_equal` = #{isEqual},
        </if>
        <if test="status != null and status != ''">
            `status` = #{status},
        </if>
        <if test="progress != null and progress != ''">
            `progress` = #{progress},
        </if>
        <if test="runner != null and runner != ''">
            `runner` = #{runner},
        </if>
        <if test="errorMessage != null and errorMessage != ''">
            `error_message` = #{errorMessage},
        </if>
        <if test="triggerUrl != null and triggerUrl != ''">
            `trigger_url` = #{triggerUrl},
        </if>
        <if test="totalCount != null and totalCount != ''">
            `total_count` = #{totalCount},
        </if>
        <if test="failedCount != null and failedCount != ''">
            `failed_count` = #{failedCount},
        </if>
        <if test="features != null and features != ''">
            `features` = #{features},
        </if>
        `modified_time` = now()
        where batch_id = #{batchId} and config_id = #{configId};
    </update>

    <select id="getByConfigId" resultMap="resultMap">
        select * from t_compare_diff_result where config_id = #{configId}
    </select>

    <select id="getByBatchId" resultMap="resultMap">
        select * from t_compare_diff_result where batch_id = #{batchId}
    </select>

    <delete id="deleteByConfigId">
        delete from t_compare_diff_result where config_id = #{configId}
    </delete>

</mapper>