<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxc.test.platform.infra.mapper.master.SourceInitSqlMapper">

    <resultMap id="resultMap" type="com.cxc.test.platform.infra.domain.datacheck.SourceInitSqlPO">
        <id column="id" property="id"/>
        <id column="config_id" property="configId"/>
        <id column="source_table_name" property="sourceTableName"/>
        <id column="init_sql" property="initSql"/>
        <id column="created_time" property="createdTime"/>
        <id column="modified_time" property="modifiedTime"/>
    </resultMap>

    <insert id="insertBatch" parameterType="java.util.List">
        insert into t_data_source_init_sql
        (config_id, source_table_name, init_sql, created_time, modified_time)
        values
        <foreach collection="list" item="sourceInitSqlPO" separator=",">
            (#{sourceInitSqlPO.configId}, #{sourceInitSqlPO.sourceTableName}, #{sourceInitSqlPO.initSql}, now(), now())
        </foreach>
    </insert>

    <select id="getByConfigId" resultMap="resultMap">
        select * from t_data_source_init_sql where config_id = #{configId}
    </select>

    <update id="update" parameterType="com.cxc.test.platform.infra.domain.datacheck.SourceInitSqlPO">
        update t_data_source_init_sql set
        <if test="sourceTableName != null and sourceTableName != ''">
            `source_table_name` = #{sourceTableName},
        </if>
        <if test="initSql != null and initSql != ''">
            `init_sql` = #{initSql},
        </if>
        `modified_time` = now()
        where id = #{id}
    </update>

    <delete id="deleteByConfigId">
        delete from t_data_source_init_sql where config_id = #{configId}
    </delete>

</mapper>