<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试效能平台</title>
    <!-- 引入sdk的css文件 -->
    <link rel="stylesheet" href="/sdk/sdk.css">
    <link rel="stylesheet" href="/sdk/helper.css">
    <link rel="stylesheet" href="/sdk/iconfont.css">
    <!-- antd主题 -->
    <link rel="stylesheet" href="/sdk/antd.css">
    <!-- 引入sdk.js -->
    <script src="/sdk/sdk.js"></script>
    <!-- 页面的样式 -->
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<!-- 渲染的容器 -->
<div id="root" class="app-wrapper"></div>
<!-- 页面的内容 -->
<script type="text/javascript">
        (function () {
            // 初始化
            let amis = amisRequire('amis/embed');
            // 通过替换下面这个配置来生成不同页面
            let amisJSON = {
                  "type": "page",
                  "title": "工具调用",
                  "body": [
                    {
                      "type": "flex",
                      "className": "p-1",
                      "items": [
                        {
                          "type": "container",
                          "body": [
                            {
                              "type": "flex",
                              "id": "u:5448a684939",
                              "items": [
                                {
                                  "type": "image",
                                  "id": "u:54892a625bc4",
                                  "src": "/svg/qa.svg",
                                  "width": 50,
                                  "height": 50,
                                  "thumbMode": "contain",
                                  "showDimensions": false,
                                  "innerClassName": "no-border no-bg border-none",
                                  "className": "no-border no-bg border-none",
                                  "imageClassName": "no-border no-bg border-none",
                                  "thumbClassName": "no-border no-bg border-none"
                                }
                              ],
                              "style": {
                                "position": "static",
                                "flexWrap": "nowrap",
                                "overflowY": "auto"
                              },
                              "direction": "row",
                              "isFixedHeight": false,
                              "isFixedWidth": false,
                              "justify": "center",
                              "alignItems": "flex-start"
                            },
                            {
                              "type": "nav",
                              "stacked": true,
                              "source": "${nav}",
                              "id": "u:b057407f2664",
                              "itemBadge": {
                                "mode": "ribbon",
                                "text": "${customText}",
                                "position": "top-right",
                                "visibleOn": "this.customText",
                                "level": "${customLevel}"
                              }
                            }
                          ],
                          "size": "xs",
                          "style": {
                            "position": "static",
                            "display": "block",
                            "flex": "0 0 200px",
                            "flexBasis": "200px",
                            "overflowX": "auto",
                            "textAlign": "left",
                            "fontFamily": "",
                            "fontSize": 16
                          },
                          "wrapperBody": false,
                          "isFixedHeight": false,
                          "isFixedWidth": false,
                          "id": "u:04792b608d52",
                          "wrapperComponent": "aside",
                          "bodyClassName": "bg-light text-muted b-light"
                        },
                        {
                          "type": "container",
                          "body": [
                            {
                              "type": "tpl",
                              "id": "u:0113ac9a5359",
                              "tpl": "工具调用",
                              "inline": true,
                              "wrapperComponent": "",
                              "style": {
                                "fontFamily": "",
                                "fontSize": 25
                              }
                            },
                            {
                              "type": "divider",
                              "id": "u:9e26253a40dd"
                            },
                            {
                              "type": "panel",
                              "id": "u:7b254927e168",
                              "body": [
                                {
                                  "type": "service",
                                  "id": "u:e230f1dd62d7",
                                  "api": "/toolcenter/get_hot_n?n=3",
                                  "body": [
                                    {
                                      "type": "cards",
                                      "id": "u:1a0d07068d3d",
                                      "columnsCount": 3,
                                      "card": {
                                        "type": "card",
                                        "href": "?toolId=${toolId}",
                                        "blank": false,
                                        "header": {
                                          "title": "${name}",
                                          "subTitle": "${domain}",
                                          "desc": "${desc}",
                                          "avatarText": "${name|substring:0:2|upperCase}",
                                          "avatarTextBackground": [
                                            "#FFB900",
                                            "#D83B01",
                                            "#B50E0E",
                                            "#E81123",
                                            "#B4009E",
                                            "#5C2D91",
                                            "#0078D7",
                                            "#00B4FF",
                                            "#008272"
                                          ]
                                        },
                                        "body": [
                                          {
                                            "type": "divider"
                                          },
                                          {
                                            "type": "tpl",
                                            "tpl": "* 成功调用/调用总数: ${successCount}/${totalCount}"
                                          },
                                          {
                                            "type": "tpl",
                                            "tpl": "* 创建者: ${creator}",
                                            "visibleOn": "this.creator"
                                          }
                                        ],
                                        "id": "u:36a04255866e",
                                        "size": "sm",
                                        "toolbar": [
                                          {
                                            "type": "mapping",
                                            "name": "type",
                                            "map": {
                                              "java": "<span class='label label-success'>Java</span>",
                                              "http": "<span class='label label-primary'>Http</span>"
                                            },
                                            "id": "u:4f09127c1920"
                                          },
                                          {
                                            "type": "tpl",
                                            "tpl": "#${rank}",
                                            "className": "label label-warning",
                                            "id": "u:56d60c840af4"
                                          }
                                        ],
                                        "actions": [
                                        ]
                                      },
                                      "showHeader": false,
                                      "showFooter": false,
                                      "masonryLayout": false,
                                      "size": "sm",
                                      "placeholder": "暂无数据",
                                      "style": {
                                        "position": "static",
                                        "display": "block",
                                        "overflowY": "auto",
                                        "maxHeight": "230px"
                                      },
                                      "isFixedHeight": false,
                                      "isFixedWidth": false
                                    }
                                  ]
                                }
                              ],
                              "title": "***Hot Top 3***",
                              "affixFooter": false,
                              "submitText": ""
                            },
                            {
                              "type": "grid",
                              "id": "u:235e34c6708d",
                              "columns": [
                                {
                                  "body": [
                                    {
                                      "id": "u:bd6926a4f5a7",
                                      "type": "flex",
                                      "className": "p-1",
                                      "items": [
                                        {
                                          "type": "container",
                                          "body": [
                                            {
                                              "type": "service",
                                              "id": "u:938cffe6c839",
                                              "body": [
                                                {
                                                  "type": "panel",
                                                  "id": "u:dd02032f4310",
                                                  "title": "Step1: 选择工具",
                                                  "body": [
                                                    {
                                                      "type": "input-tree",
                                                      "id": "u:adb8078ef0c5",
                                                      "name": "tree",
                                                      "onlyLeaf": true,
                                                      "source": "/toolcenter/get_tree_select",
                                                      "multiple": false,
                                                      "enableNodePath": false,
                                                      "hideRoot": true,
                                                      "showIcon": true,
                                                      "initiallyOpen": true,
                                                      "onEvent": {
                                                        "change": {
                                                          "actions": [
                                                            {
                                                              "actionType": "url",
                                                              "args": {
                                                                "url": "?toolId=${value}",
                                                                "blank": false
                                                              }
                                                            }
                                                          ]
                                                        }
                                                      }
                                                    }
                                                  ],
                                                  "submitText": ""
                                                }
                                              ]
                                            }
                                          ],
                                          "size": "xs",
                                          "style": {
                                            "position": "static",
                                            "display": "block",
                                            "flex": "1 1 auto",
                                            "flexGrow": 1,
                                            "flexBasis": "auto"
                                          },
                                          "wrapperBody": false,
                                          "isFixedHeight": false,
                                          "isFixedWidth": false,
                                          "id": "u:3bfa0850263f"
                                        }
                                      ],
                                      "style": {
                                        "position": "static"
                                      },
                                      "direction": "row",
                                      "justify": "flex-start",
                                      "alignItems": "stretch"
                                    }
                                  ],
                                  "id": "u:4fbb71ae24d2",
                                  "md": 4
                                },
                                {
                                  "body": [
                                    {
                                      "type": "flex",
                                      "className": "p-1",
                                      "items": [
                                        {
                                          "type": "container",
                                          "body": [
                                            {
                                              "type": "form",
                                              "id": "u:c6d532278351",
                                              "title": "Step2: 填写入参",
                                              "reload": "resultForm?ret=${ret}&isSuccess=${isSuccess}&errorMessage=${errorMessage}",
                                              "body": [
                                                {
                                                  "type": "service",
                                                  "api": "get:/toolcenter/get_tool?toolId=${toolId}",
                                                  "body": [
                                                    {
                                                      "type": "tpl",
                                                      "tpl": "API: <span class=\"text-success\">${api} / ${desc}</span>"
                                                    },
                                                    {
                                                      "type": "divider"
                                                    }
                                                  ]
                                                },
                                                {
                                                  "type": "service",
                                                  "schemaApi": "get:/toolcenter/auto_schema?toolId=${toolId}",
                                                  "id": "u:e83be16b2374"
                                                }
                                              ],
                                              "api": "/toolcenter/trigger?toolId=${toolId}"
                                            },
                                            {
                                              "type": "form",
                                              "name": "resultForm",
                                              "title": "Step3: 查看返回",
                                              "actions": [
                                              ],
                                              "body": [
                                                {
                                                  "type": "tpl",
                                                  "tpl": "是否成功: "
                                                },
                                                {
                                                  "type": "mapping",
                                                  "name": "isSuccess",
                                                  "placeholder": "",
                                                  "map": {
                                                    true: "<span class='label label-success'>成功</span>",
                                                    false: "<span class='label label-danger'>失败</span>"
                                                  }
                                                },
                                                {
                                                  "type": "tpl",
                                                  "tpl": "报错信息: ${errorMessage}",
                                                  "visibleOn": "this.errorMessage"
                                                },
                                                {
                                                  "type": "control",
                                                  "name": "ret",
                                                  "label": "返回结果:",
                                                  "visibleOn": "this.ret",
                                                  "body": {
                                                    "type": "json",
                                                    "levelExpand": 2
                                                  }
                                                }
                                              ],
                                              "id": "u:dd521e86180f"
                                            }
                                          ],
                                          "size": "xs",
                                          "style": {
                                            "position": "static",
                                            "display": "block",
                                            "flex": "1 1 auto",
                                            "flexGrow": 1,
                                            "flexBasis": "auto"
                                          },
                                          "wrapperBody": false,
                                          "isFixedHeight": false,
                                          "isFixedWidth": false,
                                          "id": "u:3bfa0850263f"
                                        }
                                      ],
                                      "style": {
                                        "position": "static"
                                      },
                                      "direction": "row",
                                      "justify": "flex-start",
                                      "alignItems": "stretch",
                                      "id": "u:bd6926a4f5a7"
                                    }
                                  ],
                                  "id": "u:409edf406907"
                                }
                              ]
                            }
                          ],
                          "size": "xs",
                          "style": {
                            "position": "static",
                            "display": "block",
                            "flex": "1 1 auto",
                            "flexGrow": 1,
                            "flexBasis": "auto"
                          },
                          "wrapperBody": false,
                          "isFixedHeight": false,
                          "isFixedWidth": false,
                          "id": "u:4a30e3ab29f8"
                        }
                      ],
                      "style": {
                        "position": "static"
                      },
                      "direction": "row",
                      "justify": "flex-start",
                      "alignItems": "stretch",
                      "id": "u:4454944ca1a6"
                    }
                  ],
                  "id": "u:57ab0deea8c5",
                  "pullRefresh": {
                    "disabled": true
                  },
                  "regions": [
                    "body"
                  ],
                  "initApi": "/get_menu",
                  "style": {
                    "textAlign": "left",
                    "backgroundImage": "/image/bg.jpg",
                    "backgroundSize": "cover"
                  },
                  "asideResizor": false,
                  "asideClassName": "b-primary text-lg",
                  "asideSticky": true
                };


            // 开始渲染，放入渲染容器#root，渲染的页面内容是amisJSON
            let amisScoped = amis.embed(
                '#root',
                amisJSON,
                {
                    // 这里是初始 props
                },
                {
                    theme: 'antd'
                }
            );
        })();
    </script>
</body>

</html>
