<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试效能平台</title>
    <!-- 引入sdk的css文件 -->
    <link rel="stylesheet" href="/sdk/sdk.css">
    <link rel="stylesheet" href="/sdk/helper.css">
    <link rel="stylesheet" href="/sdk/iconfont.css">
    <!-- antd主题 -->
    <link rel="stylesheet" href="/sdk/antd.css">
    <!-- 引入sdk.js -->
    <script src="/sdk/sdk.js"></script>
    <!-- 页面的样式 -->
    <style>
        html,
        body,
        .app-wrapper {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
<!-- 渲染的容器 -->
<div id="root" class="app-wrapper"></div>
<!-- 页面的内容 -->
<script type="text/javascript">
        (function () {
            // 初始化
            let amis = amisRequire('amis/embed');
            // 通过替换下面这个配置来生成不同页面
            let amisJSON = {
                  "type": "page",
                  "title": "工具管理",
                  "body": [
                    {
                      "type": "flex",
                      "className": "p-1",
                      "items": [
                        {
                          "type": "container",
                          "body": [
                            {
                              "type": "flex",
                              "id": "u:5448a684939",
                              "items": [
                                {
                                  "type": "image",
                                  "id": "u:54892a625bc4",
                                  "src": "/svg/qa.svg",
                                  "width": 50,
                                  "height": 50,
                                  "thumbMode": "contain",
                                  "showDimensions": false,
                                  "innerClassName": "no-border no-bg",
                                  "className": "no-border no-bg",
                                  "imageClassName": "no-border no-bg",
                                  "thumbClassName": "no-border no-bg"
                                }
                              ],
                              "style": {
                                "position": "static",
                                "flexWrap": "nowrap",
                                "overflowY": "auto"
                              },
                              "direction": "row",
                              "isFixedHeight": false,
                              "isFixedWidth": false,
                              "justify": "center",
                              "alignItems": "flex-start"
                            },
                            {
                              "type": "nav",
                              "stacked": true,
                              "source": "${nav}",
                              "id": "u:b057407f2664",
                              "itemBadge": {
                                "mode": "ribbon",
                                "text": "${customText}",
                                "position": "top-right",
                                "visibleOn": "this.customText",
                                "level": "${customLevel}"
                              }
                            }
                          ],
                          "size": "xs",
                          "style": {
                            "position": "static",
                            "display": "block",
                            "flex": "0 0 200px",
                            "flexBasis": "200px",
                            "overflowX": "auto",
                            "fontFamily": "",
                            "fontSize": 16,
                            "textAlign": "left"
                          },
                          "wrapperBody": false,
                          "isFixedHeight": false,
                          "isFixedWidth": false,
                          "id": "u:04792b608d52",
                          "wrapperComponent": "aside",
                          "bodyClassName": "bg-light text-muted b-light"
                        },
                        {
                          "type": "container",
                          "body": [
                            {
                              "type": "tpl",
                              "id": "u:0113ac9a5359",
                              "tpl": "工具管理",
                              "inline": true,
                              "wrapperComponent": "",
                              "style": {
                                "fontFamily": "",
                                "fontSize": 25
                              }
                            },
                            {
                              "type": "divider",
                              "id": "u:9e26253a40dd"
                            },
                            {
                              "type": "crud",
                              "name": "toolListCrud",
                              "api": {
                                "method": "get",
                                "url": "/toolcenter/get_tool_list",
                                "data": {
                                  "toolIdSearch": "${toolIdSearch | default:undefined}",
                                  "nameSearch": "${nameSearch | default:undefined}",
                                  "apiSearch": "${apiSearch | default:undefined}",
                                  "typeSearch": "${typeSearch | default:undefined}",
                                  "statusSearch": "${statusSearch | default:undefined}",
                                  "domainSearch": "${domainSearch | default:undefined}",
                                  "creatorSearch": "${creatorSearch | default:undefined}"
                                }
                              },
                              "loadDataOnce": true,
                              "syncLocation": false,
                              "filter": {
                                "debug": false,
                                "title": "条件搜索",
                                "body": [
                                  {
                                    "type": "group",
                                    "body": [
                                      {
                                        "type": "input-text",
                                        "name": "toolIdSearch",
                                        "label": "工具ID",
                                        "clearable": true,
                                        "size": "md",
                                        "placeholder": "精确搜索",
                                        "id": "u:bdbc1cbbcb6c"
                                      },
                                      {
                                        "type": "input-text",
                                        "name": "nameSearch",
                                        "label": "工具名称",
                                        "clearable": true,
                                        "size": "md",
                                        "placeholder": "模糊搜索",
                                        "id": "u:bdbc1cbbcb6c"
                                      },
                                      {
                                        "type": "input-text",
                                        "name": "apiSearch",
                                        "label": "API",
                                        "clearable": true,
                                        "size": "md",
                                        "placeholder": "模糊搜索",
                                        "id": "u:bdbc1cbbcb6c"
                                      }
                                    ],
                                    "id": "u:edbf77d9c5d8"
                                  },
                                  {
                                    "type": "group",
                                    "body": [
                                      {
                                        "type": "select",
                                        "name": "statusSearch",
                                        "label": "状态",
                                        "clearable": true,
                                        "size": "sm",
                                        "id": "u:5f43212ae5d8",
                                        "options": [
                                          {
                                            "label": "生效中",
                                            "value": "active"
                                          },
                                          {
                                            "label": "已失效",
                                            "value": "deleted"
                                          }
                                        ],
                                        "multiple": false
                                      },
                                      {
                                        "type": "select",
                                        "name": "typeSearch",
                                        "label": "类型",
                                        "clearable": true,
                                        "size": "sm",
                                        "id": "u:5f43212ae5d8",
                                        "options": [
                                          {
                                            "label": "Java",
                                            "value": "java"
                                          },
                                          {
                                            "label": "Http",
                                            "value": "http"
                                          }
                                        ],
                                        "multiple": false
                                      },
                                      {
                                        "type": "select",
                                        "name": "domainSearch",
                                        "label": "领域",
                                        "clearable": true,
                                        "size": "sm",
                                        "id": "u:5f43212ae5d8",
                                        "source": "/toolcenter/get_domains",
                                        "multiple": false
                                      },
                                      {
                                        "type": "input-text",
                                        "name": "creatorSearch",
                                        "label": "创建人",
                                        "clearable": true,
                                        "size": "md",
                                        "placeholder": "精确搜索",
                                        "id": "u:bdbc1cbbcb6c"
                                      }
                                    ],
                                    "id": "u:edbf77d9c5d8"
                                  }
                                ],
                                "id": "u:a00bd4fb9858",
                                "submitText": "查询"
                              },
                              "columns": [
                                {
                                  "name": "toolId",
                                  "label": "工具ID",
                                  "copyable": true,
                                  "sortable": true,
                                  "id": "u:97e6ae8cc007"
                                },
                                {
                                  "name": "name",
                                  "label": "工具名称",
                                  "id": "u:97e6ae8cc007",
                                  "popOver": "${desc}",
                                  "popOverEnableOn": "this.desc"
                                },
                                {
                                  "type": "mapping",
                                  "name": "type",
                                  "label": "工具类型",
                                  "map": {
                                    "java": "<span class='label label-success'>Java</span>",
                                    "http": "<span class='label label-primary'>Http</span>"
                                  },
                                  "id": "u:4f09127c1920"
                                },
                                {
                                  "type": "mapping",
                                  "name": "status",
                                  "label": "工具状态",
                                  "map": {
                                    "active": "<span class='label label-primary'>生效中</span>",
                                    "deleted": "<span class='label label-danger'>已失效</span>"
                                  },
                                  "id": "u:4f09127c1920"
                                },
                                {
                                  "name": "api",
                                  "label": "API",
                                  "id": "u:3a9c584a5cc3"
                                },
                                {
                                  "name": "creator",
                                  "label": "创建人",
                                  "id": "u:86cbcf96da7c"
                                },
                                {
                                  "name": "domain",
                                  "label": "领域",
                                  "id": "u:1dadd1276db4"
                                },
                                {
                                  "type": "button-toolbar",
                                  "label": "操作",
                                  "width": 150,
                                  "buttons": [
                                    {
                                      "label": "入参",
                                      "type": "button",
                                      "actionType": "url",
                                      "url": "/toolcenter/params?toolId=${toolId}",
                                      "id": "u:c923a341faad",
                                      "blank": true
                                    },
                                    {
                                      "label": "运行",
                                      "type": "button",
                                      "level": "primary",
                                      "actionType": "url",
                                      "disabledOn": "status===\"deleted\"",
                                      "url": "/toolcenter/run?toolId=${toolId}",
                                      "id": "u:c923a341faad",
                                      "blank": true
                                    },
                                    {
                                      "label": "修改",
                                      "type": "button",
                                      "actionType": "drawer",
                                      "drawer": {
                                        "title": "编辑工具",
                                        "size": "lg",
                                        "body": {
                                          "type": "form",
                                          "api": "post:/toolcenter/update_tool?toolId=${toolId}",
                                          "body": [
                                            {
                                              "type": "input-text",
                                              "name": "name",
                                              "label": "工具名称"
                                            },
                                            {
                                              "name": "desc",
                                              "label": "工具描述",
                                              "type": "textarea",
                                              "clearable": true,
                                              "id": "u:f84bea7b88cc",
                                              "showCounter": true,
                                              "maxLength": 30,
                                              "placeholder": "限制30个字"
                                            },
                                            {
                                              "type": "select",
                                              "name": "type",
                                              "label": "类型",
                                              "clearable": true,
                                              "size": "sm",
                                              "id": "u:5f43212ae5d8",
                                              "options": [
                                                {
                                                  "label": "Java",
                                                  "value": "java"
                                                },
                                                {
                                                  "label": "Http",
                                                  "value": "http"
                                                }
                                              ],
                                              "multiple": false
                                            },
                                            {
                                              "type": "input-text",
                                              "name": "beanName",
                                              "label": "Bean名称",
                                              "hiddenOn": "this.type === 'http'"
                                            },
                                            {
                                              "type": "input-text",
                                              "name": "api",
                                              "label": "API"
                                            },
                                            {
                                              "type": "input-text",
                                              "name": "domain",
                                              "label": "领域"
                                            }
                                          ]
                                        }
                                      },
                                      "id": "u:46e308e46b4c"
                                    },
                                    {
                                      "label": "删除",
                                      "type": "button",
                                      "visibleOn": "this.status === 'active'",
                                      "actionType": "ajax",
                                      "level": "danger",
                                      "confirmText": "确认删除该工具？",
                                      "api": "get:/toolcenter/delete_tool?toolId=${toolId}",
                                      "id": "u:1fd57e4b4497"
                                    },
                                    {
                                      "label": "恢复",
                                      "type": "button",
                                      "visibleOn": "this.status === 'deleted'",
                                      "actionType": "ajax",
                                      "confirmText": "确认恢复该工具？",
                                      "api": "get:/toolcenter/restore_tool?toolId=${toolId}",
                                      "id": "u:1fd57e4b4497"
                                    }
                                  ],
                                  "id": "u:0bdd3201ab9f"
                                }
                              ],
                              "id": "u:28024f3e550b"
                            }
                          ],
                          "size": "xs",
                          "style": {
                            "position": "static",
                            "display": "block",
                            "flex": "1 1 auto",
                            "flexGrow": 1,
                            "flexBasis": "auto"
                          },
                          "wrapperBody": false,
                          "isFixedHeight": false,
                          "isFixedWidth": false,
                          "id": "u:5bc7d7d7de2f"
                        }
                      ],
                      "style": {
                        "position": "static"
                      },
                      "direction": "row",
                      "justify": "flex-start",
                      "alignItems": "stretch",
                      "id": "u:3d4dafdd460b"
                    }
                  ],
                  "id": "u:e26e044baf83",
                  "pullRefresh": {
                    "disabled": true
                  },
                  "regions": [
                    "body"
                  ],
                  "initApi": "/get_menu",
                  "style": {
                    "textAlign": "left",
                    "backgroundImage": "/image/bg.jpg",
                    "backgroundSize": "cover"
                  },
                  "asideResizor": false,
                  "asideClassName": "b-primary text-lg",
                  "asideSticky": true
                };


            // 开始渲染，放入渲染容器#root，渲染的页面内容是amisJSON
            let amisScoped = amis.embed(
                '#root',
                amisJSON,
                {
                    // 这里是初始 props
                },
                {
                    theme: 'antd'
                }
            );
        })();
    </script>
</body>

</html>
